@charset "utf-8";
/* CSS Document */
html,
:root {
  --initialHeight: -50vh;
}

body{
    background-color: black;
	height:100%;
	position: relative;
    /*background-image: linear-gradient(to bottom, rgb(33, 33, 33) 10%, black 90%);*/
	
}

.photo-page{
	position: absolute;
    display: block;
	width: 40vh;
	height: 50vh;
    margin-right: auto;
    margin-left: auto;
	
}

#MP{
	z-index: 6;
	top: var(--initialHeight);
	left:0px;
	right:0px;
}

#digitization{
	transform: rotate(0deg);
	z-index: 5;
	top: var(--initialHeight);
	bottom: 0px;
	left:0vh;
	right:0px;
}
#restoration {
	transform: rotate(0deg);
	z-index: 4;
	top: var(--initialHeight);
	bottom: 0px;
	left:0vh;
	right:0px;
}
#AI {
	transform: rotate(0deg);
	z-index: 3;
	top: var(--initialHeight);
	bottom: 0px;
	left:0vh;
	right:0px;
}
#rates {
	transform: rotate(0deg);
	z-index: 2;
	top: var(--initialHeight);
	bottom: 0px;
	left:0vh;
	right:0px;
}
#contact {
	transform: rotate(0deg);
	z-index: 1;
	top: var(--initialHeight);
	bottom: 0px;
	left:0vh;
	right:0px;
}

svg{
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
	box-shadow: 0px .9vh .9vh -.7vh rgb(100,100,100);
	transform: scale(1.3, 1.3);
}

rect{
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}
h1{
	font-size: 3.5vh;
}
polygon{
}
.header{
    position: inherit;
    display: block;
	width:100%; 
	height:2vh;
    top: 42.5vh;
	line-height: 3vh;
    text-align: center;
    font-size: 3vh;
    font-family:'swanky-and-moo-moo';
	transform: scale(1, 1.4);
	letter-spacing: .7vh;
	font-weight: 600;
    color: #000000;
    right: auto;
	
}

.photo-frame {
	
}

#log {
	color: white;
}

li{
	position: relative;
	width:95%; 
	height:1.5vh;
    top: -14vh;
    font-size: 1.5vh;
    font-family:'nixie-one';
	font-weight: 600;
	letter-spacing: .1vh;
    color: #000000;
    left: 4vh;
}
.descrip {
	position: relative;
    display: block;
	width:95%; 
	height:5vh;
    top: -13vh;
	text-align:center;
    font-size: 1.5vh;
    font-family:'nixie-one';
	font-weight: 600;
	letter-spacing: .1vh;
    color: #000000;
    left: 1vh;
}
