@charset "utf-8";
/* CSS Document */
html,
body{
    background-color: black;
	height:100%;
	position: relative;
    /*background-image: linear-gradient(to bottom, rgb(33, 33, 33) 10%, black 90%);*/
	
}

.photo-page{
	position: absolute;
    display: block;
	width: 40vh;
	height: 50vh;
    margin-right: auto;
    margin-left: auto;
	
}

#MP{
	z-index: 6;
	top: 10vh;
	left:0px;
	right:0px;
}

#digitization{
	transform: rotate(0deg);
	z-index: 5;
	top: 10vh;
	bottom: 0px;
	left:0vh;
	right:0px;
}
#restoration {
	transform: rotate(0deg);
	z-index: 4;
	top: 10vh;
	bottom: 0px;
	left:0vh;
	right:0px;
}
#AI {
	transform: rotate(0deg);
	z-index: 3;
	top: 10vh;
	bottom: 0px;
	left:0vh;
	right:0px;
}
#rates {
	transform: rotate(0deg);
	z-index: 2;
	top: 10vh;
	bottom: 0px;
	left:0vh;
	right:0px;
}
#contact {
	transform: rotate(0deg);
	z-index: 1;
	top: 10vh;
	bottom: 0px;
	left:0vh;
	right:0px;
}

svg{
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
	box-shadow: 0px 7px 7px -5px rgb(100,100,100);
}

rect{
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}
h1{
	font-size: 3.5vh;
}
.header{
    position: inherit;
    display: block;
	width:100%; 
	height:5vh;
    top: 42.5vh;
    text-align: center;
    font-size: 3vh;
    font-family: "annie-use-your-telescope";
	letter-spacing: .7vh;
    color: #000000;
    right: auto;
	
}


.photo-frame {
	
}

#log {
	color: white;
}

.descrip {
	position: relative;
    display: block;
	width:95%; 
	height:5vh;
    top: -13vh;
	text-align:left;
    font-size: 1.5vh;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	letter-spacing: .1vh;
    color: #000000;
    left: 2vh;
}
